#文件夹和文档
.ipynb_checkpoints/
__pycache__/
data/*/
cache/
Result/
训练结果1备份/
*.onnx
*.log
后台运行.txt
check.txt

#生成结果
pre_train.log
pre_train_select.log
main_stage.log
preBestNet_select
preBestNet_stage1
preBestNet_stage1only
preNetdata_select
preNetdata_stage1
preNetdata_stage1only
BestNet_select
BestNet_stage1
BestNet_stage2
Netdata_select
Netdata_stage1
Netdata_stage2