#文件夹和文档
.ipynb_checkpoints/
__pycache__/
data/*/
*.onnx
*.log
后台运行.txt

#生成结果
Netdata
Netdata2_eye
Netdata2_eyebrow
Netdata2_mouth
Netdata2_nose
BestNet
BestNet2_eye
BestNet2_eyebrow
BestNet2_mouth
BestNet2_nose